<h2>Edit Video</h2>

<form action='/videos/<%= "#{@video.id}" %>' method="post">
  <label for="video[caption]">Caption:</label>
  <input name="video[caption]" value='<%= "#{@video.caption}" %>'>

  <label for="video[video_url]">Video URL:</label>
  <input name="video[video_url]" value='<%= "#{@video.video_url}" %>'>

  <label for="video[description]">Description:</label>
  <input name="video[description]" value='<%= "#{@video.description}" %>'>

  <input type="submit" value="Edit" method = "post" action="/videos/<%= @video %>">
</form>
